body {
	background-color: black;
}
#onTbl {
	text-decoration-color: white;
}


.pkrTbl {
	background: center;
	background-image: url(blkjcktbl.png);
	background-image-size: auto;
	max-width: auto;
	background-repeat: no-repeat;
	font-size: 25px;
	border-style: dotted;
	border-radius: 5px;
}
.pkrTbl img{



}

.body p {
	text-decoration-color: white;
}
ul {
	list-style-type: none;
}
li {
	padding: 5px;
}

button {
	max-width: 7.0%;
	box-shadow: 4px;
}
